<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcornPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AcornPad.Properties.Settings>
            <setting name="Options_Format__1" serializeAs="String">
                <value>BeebASM</value>
            </setting>
            <setting name="Options_Conversion__2" serializeAs="String">
                <value>Decimal</value>
            </setting>
            <setting name="Options_Comments__3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Character_Name__1" serializeAs="String">
                <value>char_sprite</value>
            </setting>
            <setting name="Character_Layout__2" serializeAs="String">
                <value>Row</value>
            </setting>
            <setting name="Character_Prefix__3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Character_Columns__4" serializeAs="String">
                <value>Four</value>
            </setting>
            <setting name="Map_Compression__1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Map_Columns__2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AcornPad_Backdrop__1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tile_Columns__1" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Character_Left_Selector_5" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Character_Right_Selector_6" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="Tile_Left_Selector_2" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Tile_Right_Selector_3" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="Map_Cross_Selector_3" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
        </AcornPad.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>