<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcornPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AcornPad.Properties.Settings>
            <setting name="Options_Format_1" serializeAs="String">
                <value>BeebASM</value>
            </setting>
            <setting name="Options_Conversion_2" serializeAs="String">
                <value>Decimal</value>
            </setting>
            <setting name="Options_Comments_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Character_Name_1" serializeAs="String">
                <value>char_sprite</value>
            </setting>
            <setting name="Character_Layout_2" serializeAs="String">
                <value>Row</value>
            </setting>
            <setting name="Character_Prefix_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Character_Columns_4" serializeAs="String">
                <value>Four</value>
            </setting>
            <setting name="Map_Compression_1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Map_Columns_2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AcornPad_Backdrop_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tile_Columns_1" serializeAs="String">
                <value>8</value>
            </setting>
        </AcornPad.Properties.Settings>
    </userSettings>
</configuration>